237/1	
237/1	î}Section 1\\Why Implement LOGO in LISP[@]²16412 î}î 286/1	
286/1	î}Section 2\\Differences between LOGO and LISP[@]²16427 î}î 312/1	
312/1	\2.1\\\Simplicity[@]²16434î 480/1	
480/1	\2.2\\\Naturalness[@]²16479î 586/1	
586/1	\2.3\\\Disparity[@]²16520î 652/1	
652/1	î}Section 3\\Overview of the Implementation[@]²16533 î}î 688/1	
688/1	\3.1\\\Reader[@]²16541î 719/1	
719/1	\3.2\\\Parser[@]²16555î 750/1	
750/1	\3.3\\\Evaluation[@]²16564î 765/1	
765/1	\3.4\\\Printing[@]²16571î 811/1	
811/1	\3.5\\\Error Analysis[@]²16583î 830/1	
830/1	î}Section 4\\Performance[@]²16594 î}î 831/1	
831/1	\4.1\\\Size[@]²16595î 856/1	
856/1	\4.2\\\Computation Time[@]²16601î 873/1	
873/1	\4.3\\\Use[@]²16607î 896/1	
896/1	\4.4\\\Availability[@]²16609î 909/1	
909/1	î}Section 5\\Getting Started[@]²16615 î}î 1079/1	
1079/1	î}Section 6\\Parsing LOGO[@]²16652 î}î 1099/1	
1099/1	\6.1\\\Infix Expressions[@]²16658î 1208/1	
1208/1	\6.2\\\Minus Sign[@]²16689î 1233/1	
1233/1	\6.3\\\Homonyms[@]²16694î 1269/1	
1269/1	\6.4\\\Abbreviations[@]²16719î 1290/1	
1290/1	î}Section 7\\Defining and Editing Functions[@]²16726 î}î 1326/1	
1326/1	\7.1\\\Control Character Editing[@]²16739î 1401/1	
1401/1	\7.2\\\Printing Function Definitions[@]²16761î 1460/1	
1460/1	\7.3\\\Erasing[@]²16789î 1519/1	
1519/1	î}Section 8\\Error Handling and Debugging[@]²16816 î}î 1524/1	
1524/1	\8.1\\\Parsing Errors[@]²16818î 1536/1	
1536/1	\8.2\\\Run Time Errors[@]²16821î 1588/1	
1588/1	\8.3\\\Breakpoints[@]²16828î 1816/1	
1816/1	\8.4\\\Wrong Number of Inputs Errors[@]²16867î 1833/1	
1833/1	\8.5\\\Garbage Collector Errors[@]²16874î 1846/1	
1846/1	\8.6\\\Other Debugging Facilities[@]²16879î 1857/1	
1857/1	\8.7\\\Interaction with LISP[@]²16881î 1882/1	
1882/1	î}Section 9\\Compiling LLOGO User Procedures[@]²16888 î}î 1968/1	
1968/1	î}Section 10\\Using Files in LLOGO[@]²16909 î}î 2005/1	
2005/1	\10.1\\\Saving and Reading Files[@]²16915î 2062/1	
2062/1	\10.2\\\Other File Commands[@]²16935î 2073/1	
2073/1	î}Section 11\\Differences between 11LOGO and LLOGO[@]²16944 î}î 2368/1	
2368/1	î}Section 12\\Using LLOGO on MULTICS [@]²17005 î}î 2389/1	
2389/1	\12.1\\\Where To Find It[@]²17013î 2407/1	
2407/1	\12.2\\\File Naming Conventions[@]²17016î 2441/1	
2441/1	\12.3\\\Terminalogy[@]²17021î 2467/1	
2467/1	î}Section 13\\Using LLOGO on TEN50 and TENEX systems[@]²17029 î}î 2526/1	
2526/1	î}Section 14\\GERMLAND[@]²17054 î}î 2541/1	
2541/1	\14.1\\\Starting Up[@]²17057î 2552/1	
2552/1	\14.2\\\Toplevel Primitives[@]²17060î 2584/1	
2584/1	\14.3\\\Grid Primitives[@]²17068î 2634/1	
2634/1	\14.4\\\Property Primitives[@]²17080î 2682/1	
2682/1	\14.5\\\Multiple Germ Primitives[@]²17093î 2716/1	
2716/1	\14.6\\\Turtle Primitives[@]²17103î 2755/1	
2755/1	\14.7\\\Touch Primitives[@]²17123î 2770/1	
2770/1	\14.8\\\Global Variables[@]²17127î 2789/1	
2789/1	\14.9\\\Implementation[@]²17135î 2800/1	
2800/1	î}Section 15\\Display Turtle for the 340 and GT40[@]²17137 î}î 2805/1	
2805/1	\15.1\\\Starting The Display[@]²17142î 2835/1	
2835/1	\15.2\\\The Turtle[@]²17151î 2863/1	
2863/1	\15.3\\\Moving the Turtle[@]²17161î 2894/1	
2894/1	\15.4\\\Erasing the Screen [@]²17175î 2909/1	
2909/1	\15.5\\\Turning the Turtle[@]²17182î 2922/1	
2922/1	\15.6\\\Examining the Turtle's State[@]²17188î 2951/1	
2951/1	\15.7\\\The Pen[@]²17198î 2996/1	
2996/1	\15.8\\\Global Navigation[@]²17213î 3014/1	
3014/1	\15.9\\\Trigonometry[@]²17217î 3028/1	
3028/1	\15.10\\\Text[@]²17221î 3066/1	
3066/1	\15.11\\\Manipulating Scenes[@]²17233î 3140/1	
3140/1	\15.12\\\Plotter[@]²17250î 3158/1	
3158/1	\15.13\\\Pots[@]²17256î 3168/1	
3168/1	\15.14\\\Points[@]²17258î 3184/1	
3184/1	\15.15\\\Global State of the Turtle's World[@]²17263î 3248/1	
3248/1	î}Section 16\\The Music Box[@]²17278 î}î 3257/1	
3257/1	\16.1\\\Plugging In [@]²17279î 3304/1	
3304/1	\16.2\\\Turning On[@]²17282î 3322/1	
3322/1	\16.3\\\Music Primitives[@]²17287î 3639/1	
3639/1	î}Section 17\\Display Turtle for the Knight TV Terminals[@]²17338 î}î 3720/1	
3720/1	\17.1\\\The Turtle[@]²17356î 3805/1	
3805/1	\17.2\\\Moving the Turtle[@]²17381î 3864/1	
3864/1	\17.3\\\Erasing the Screen [@]²17407î 3874/1	
3874/1	\17.4\\\Turning the Turtle[@]²17412î 3887/1	
3887/1	\17.5\\\The Pen[@]²17419î 3907/1	
3907/1	\17.6\\\The Eraser[@]²17426î 3939/1	
3939/1	\17.7\\\Drawing in XOR Mode[@]²17436î 3960/1	
3960/1	\17.8\\\Examining and Modifying the Turtle's State[@]²17446î 4011/1	
4011/1	\17.9\\\Multiple Turtles [@]²17459î 4057/1	
4057/1	\17.10\\\Global Navigation[@]²17473î 4091/1	
4091/1	\17.11\\\Trigonometry[@]²17487î 4105/1	
4105/1	\17.12\\\Text[@]²17494î 4115/1	
4115/1	\17.13\\\Points and Circles[@]²17500î 4160/1	
4160/1	\17.14\\\Scaling[@]²17516î 4224/1	
4224/1	\17.15\\\Screen Color[@]²17536î 4256/1	
4256/1	\17.16\\\Saving Pictures[@]²17550î 4402/1	
4402/1	\17.17\\\Printing Pictures on the XGP[@]²17596î 4444/1	
4444/1	\17.18\\\Shading[@]²17603î 4476/1	
4476/1	\17.19\\\Shading Patterns[@]²17609î 4545/1	
4545/1	\17.20\\\Invisible Mode[@]²17625î 4575/1	
4575/1	\17.21\\\Extensi